<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	Liberating taste.
	
-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>LimeWire Playlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="stylesheet" type="text/css" href="/file/tape.css" />
    <style type="text/css">
      div.banner { background: #006699; }									
    </style>

    
    <script type="text/javascript" src="/file/mootools.js"></script>
    <script type="text/javascript" src="/file/swfobject.js"></script>
    <script type="text/javascript">
      var fn = function() {
        if(!navigator.userAgent.match(/iPhone|iPod/i)) {
          console.log("About to embed the mediaplayer swf...");
          var flashvars = {
            type: "xml",
            shuffle: "false",
            repeat: "list",
            file: "/script/playlist.xspf"		
          }
          var params = {
            allowscriptaccess: "always"
          }
          var attributes = {
            id: "openplayer",
            name: "openplayer",
            styleclass: "flash_player"
          }
          swfobject.embedSWF('/file/mediaplayer.swf', "openplayer", "0", "0", "8.0.0", false, flashvars, params, attributes);
        }
      }
      swfobject.addDomLoadEvent(fn);
    </script>
  </head>
	
  <body>
    <div class="container">
      <div class="banner">

	<div class="flag">
	  <h1>LimeWire Playlist</h1>
	  <h2><%= @files.size %> songs</h2>
	  
	</div>
      </div>
      
      
      <ul class="songs">
	<% @files.each_with_index do |file, i| %>
	  <li class="song" id="song<%= i %>">
	    <div class="name">
	      <%= file.metadata.artist.to_s %> -
	      <%= file.metadata.title.to_s %>
	    </div>
	    &nbsp;
	    <div class="info">
	      <div class="clock"></div> <strong><%= file.metadata.length / 60 %>:<%= file.metadata.length % 60 %></strong>
	    </div>
	  </li>
	<% end %>
      </ul>				
      
      <div class="footer">
	This is LimeWire Playlist v0.0.1
      </div>
      
      <div id="openplayer" class="flash_player"></div>

      
    </div>
    
    <script type="text/javascript">
		
		var openPlaylist=new Array();
		openPlaylist.push(<%= (["'NDYxMS5tcDM'"] * @files.size).join(", ") %>);
			
		// assign all the right events
		for(i = 0; i < openPlaylist.length; i++) {
			var trackEntry = $('song'+i);
			if(trackEntry) {
			
				trackEntry.addEvent('mouseover',function() {
					trackEntry.addClass('hover');
				});
				
				trackEntry.addEvent('mouseout',function() {
					trackEntry.removeClass('hover');
				});
				
		
				trackEntry.addEvent('click',function(e) {
						targ = e.target || e.srcElement;
						if(targ.tagName == 'LI') { togglePlayback(targ.id); }
						else if(targ.tagName != 'A') { togglePlayback(targ.parentNode.id); }		 
				});
				
				
			}
		}	
	
		// Player management code //
	
		var currentTrack = 0;
		var isReady = 0;
		var playerStatus = "";
		var currentPos;
		var player;
		
		function playerReady(obj) {
			console.log("Player ready");
			var id = obj['id'];
			var version = obj['version'];
			var client = obj['client'];
			isReady = 1;
			player = document.getElementById(id);
			player.addModelListener('STATE','updatePlayerState');
			player.addModelListener('TIME','updateCurrentPos');
			player.addControllerListener('ITEM','updateCurrentTrack');
		}
		
		function updatePlayerState(obj) {
			playerStatus = obj['newstate'];
			console.log("status: " + obj['newstate'] + " currentTrack: " + currentTrack);
		}
		
		
		function updateCurrentTrack(obj) {
			cleanTrackDisplay(currentTrack);
			currentTrack = obj['index'];
			setupTrackDisplay(obj['index']);
			console.log("currentTrack changed to: " + obj['index']);
		}

		
		function updateCurrentPos(obj) {
			pos = Math.round(obj['position']);
			if ( pos==currentPos ) { return false; }
			else {
				var string = '';
				var sec = pos % 60;
				var min = (pos - sec) / 60;
				var min_formatted = min ? min+':' : '';
				var sec_formatted = min ? (sec < 10 ? '0'+sec : sec) : sec;
				string = min_formatted + sec_formatted;
			
				songClock.setHTML(string);
				currentPos = pos;
			}
		
		}
		
		function playTrack() {
				console.log("Executing playTrack: " + currentTrack);
				setupTrackDisplay(currentTrack);
				sendEvent('ITEM',currentTrack);
				sendEvent('PLAY',true);
		}
	
		function stopTrack() {
			sendEvent('STOP');
			cleanTrackDisplay(currentTrack);
		}
		
		function cleanTrackDisplay(id) {
			console.log("Executing cleanTrackDisplay: " + id);

			songClock = $E('#song'+id+' .clock');
			songItem = $E('#song'+id);

			songItem.removeClass('hilite');		
			songClock.setHTML('');
		}
		
		function setupTrackDisplay(id) {
			console.log("Executing setupTrackDisplay: " + id);

			songClock = $E('#song'+id+' .clock');
			songItem = $E('#song'+id);
		
			songClock.removeClass('grey');
			songClock.addClass('green');
			songClock.setHTML('&mdash;');
			songItem.addClass('hilite');
						
			var name = $E('#song'+ id +' .name').getHTML().replace('&amp;','&');
			document.title = name.trim() + " / Opentape Demo! (Resets every 15 minutes, admin password \"test\", link on the bottom)";		
		}
	
		function togglePlayback(id) {
			id = id.replace(/song/,'');
			songClock = $E('#song'+currentTrack+' .clock');
			console.log("togglePlayback called with: " + id + " currentTrack is: " + currentTrack);
			
			if (id == currentTrack || id == null) { 
				if(playerStatus == "PAUSED"|| playerStatus=="IDLE") {
					songClock.removeClass('grey');
					songClock.addClass('green');
					sendEvent('PLAY', true);
				} else {
					songClock.removeClass('green');
					songClock.addClass('grey');	
					sendEvent('PLAY', false);
				}
			} else {
				stopTrack();
				currentTrack = id;
				playTrack();
			}
		}
		
		// Player maintenance functions
		function sendEvent(typ,prm) { 
			if( isReady ) { thisMovie('openplayer').sendEvent(typ,prm); }
		}

		function thisMovie(movieName) {
			if(navigator.appName.indexOf("Microsoft") != -1) { return window[movieName]; }
			else { return document[movieName]; }
		}
		
    </script>				
  </body>
</html>
